body {
  padding: 10px;
  height: 100vh;
}

.sandbox-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  overflow: hidden;
}
.sandbox-container > .loader {
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sandbox-container > .loader > img {
  height: 50px;
  animation: rotateHexagon 8s ease infinite;
}
.sandbox-container > .sandbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes rotateHexagon {
  0% {
    transform: rotate(0deg);
  }
  8.33% {
    transform: rotate(30deg);
  }
  16.66% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  41.66% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33% {
    transform: rotate(210deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33% {
    transform: rotate(300deg);
  }
  91.66% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=embed.css.map */