.hljs-comment {
  color: #9497cd;
  font-style: italic;
}

.hljs-selector-tag {
  color: #9744e3;
}

.hljs-string,
.hljs-subst {
  color: #71ec5f;
}

.hljs-number,
.hljs-title.class_ {
  color: #ffe856;
}

.hljs-regexp,
.hljs-variable,
.hljs-literal,
.hljs-template-variable {
  color: #e05f5f;
}

.hljs-keyword {
  color: #9744e3;
}

.hljs-function > .hljs-title {
  color: #0099ff;
}

.hljs-tag {
  color: #f9e9ff;
}

.hljs-name {
  color: #e05f5f;
}

.hljs-type {
  color: #e05f5f;
}

.hljs-attribute {
  color: #71ec5f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #9744e3;
}

.hljs-meta {
  color: #0099ff;
}

.hljs-title {
  color: #0099ff;
}

.hljs-section {
  color: #ffe856;
}

.hljs-addition {
  background-color: #71ec5f;
  color: #f9e9ff;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #ffe856;
  color: #f9e9ff;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #ffe856;
}

.hljs-selector-id {
  color: #ffe856;
}/*# sourceMappingURL=hljs.css.map */