@import url("./main.css");
@import url("./nav.css");
:root {
  scroll-behavior: smooth;
}

body {
  background-color: #f9e9ff;
  overflow-x: hidden;
}

main {
  color: #f9e9ff;
  width: 100%;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-image: linear-gradient(to top right, #01517d, #2a7671);
}
main > .header-content {
  display: grid;
  align-content: center;
}
main > .header-content > h1 {
  font-family: Lexend;
  font-size: 45px;
}
main > .header-content > h2,
main > .header-content > h2 * {
  font-family: "Space Mono";
  font-size: 25px;
}
main > .header-content span {
  white-space: nowrap;
}
main .hero-image {
  max-width: 50vw;
}

@media (max-width: 780px) {
  main {
    padding-top: 100px;
    flex-direction: column;
  }
  main .header-content {
    flex: 1;
  }
  main .hero-image {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */