@import url("./main.css");
@import url("./nav.css");
:root {
  scroll-behavior: smooth;
}

body {
  background-color: #f9e9ff;
  overflow-x: hidden;
}

main {
  color: #f9e9ff;
  width: 100%;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-image: linear-gradient(to top right, #e05f5f, #ffe856);
}
main > .header-content > h1 {
  font-family: Lexend;
  font-size: 45px;
}
main > .header-content > h2,
main > .header-content > h2 * {
  font-family: "Space Mono";
  font-size: 25px;
}
main > .header-content span {
  white-space: nowrap;
}
main > .code-blocks > .term,
main > .code-blocks pre {
  font-family: "Space Mono";
  color: #f9e9ff;
}
main > .code-blocks > .term {
  min-height: 200px;
}
main > .code-blocks > div {
  display: flex;
  float: right;
  gap: 10px;
}
main > .code-blocks > div > .kard {
  box-shadow: none;
}
main > .code-blocks > div > .install {
  flex: 1;
}
main > .code-blocks > div > .install::before {
  content: "$ ";
  color: #e05f5f;
}

section {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
section > .kard {
  min-width: 50%;
  max-width: 100%;
}
section > .description {
  text-align: justify;
}
section > .description > h1 {
  -webkit-background-clip: text;
  color: transparent;
}
section:nth-child(even) {
  flex-direction: row-reverse;
}
section#modern > .description > h1 {
  background-image: linear-gradient(to top right, #9744e3, #0099ff);
}
section#secure {
  background-image: linear-gradient(to top right, #e05f5f, #ffe856);
  color: #f9e9ff;
}
section#secure > .description > h1 {
  color: #f9e9ff;
  background-image: none;
}
section#powerful > .description > h1 {
  background-image: linear-gradient(to top right, #71ec5f, #0099ff);
}

code::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
code::-webkit-scrollbar-track {
  border-radius: 4px;
}
code::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0f1020;
}

@media (max-width: 780px) {
  main {
    padding-top: 100px;
    flex-direction: column;
  }
  main .code-blocks {
    max-width: 100%;
  }
  main .code-blocks .kard {
    overflow-x: auto;
  }
  main .code-blocks .install,
  main .code-blocks button,
  main .code-blocks span {
    display: none;
  }
  section {
    flex-direction: column-reverse !important;
  }
}/*# sourceMappingURL=kpm.css.map */