nav.kard {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 20px 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 999;
}
nav.kard > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
nav.kard input {
  height: 30px;
  width: 40%;
}
nav.kard > .logo {
  text-decoration: none;
}
nav.kard > .logo > img {
  width: 24px;
}
nav.kard > .logo > h1 {
  color: #f9e9ff;
  font-size: 16px;
}
nav.kard > ul > li {
  list-style: none;
}
nav.kard > ul > li > a {
  font-family: "Space Mono", monospace;
  color: #f9e9ff;
}
nav.kard > ul > li > a:not(:hover) {
  text-decoration: none;
}/*# sourceMappingURL=nav.css.map */