main {
  padding-top: 100px;
}
main .pkg {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 8px 20px;
  grid-template: "h h" auto "p s" 1fr/1fr auto;
}
main .pkg > .header {
  grid-area: h;
}
main .pkg > .panel {
  grid-area: p;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .pkg > .panel.sandbox-container {
  padding: 0;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  max-height: 100%;
}
main .pkg > .panel.sandbox-container > .sandbox {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}
main .pkg > .panel > .pkg-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .pkg > .sidebar {
  grid-area: s;
  max-width: 300px;
}
main .pkg > .sidebar span {
  font-size: 12px;
}
main .pkg > .sidebar > kard * {
  font-size: 10px;
}
main .pkg > .sidebar > ul {
  padding-left: 10px;
}
main .pkg > .sidebar > ul > li {
  list-style: none;
  line-height: 2;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .pkg > .sidebar > ul > li img {
  height: 16px;
  aspect-ratio: 1/1;
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  line-height: 2;
}
.readme h1 {
  font-size: 1.8rem;
}
.readme h2 {
  font-size: 1.4rem;
}
.readme h3 {
  font-size: 1.2rem;
}/*# sourceMappingURL=pkg.css.map */