@font-face {
  font-family: Lexend;
  font-weight: 600;
  src: url("../../font/Lexend.ttf");
}
@font-face {
  font-family: "Space Mono";
  font-weight: 600;
  src: url("../../font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Noto Color Emoji";
  src: url("../../font/NotoColorEmoji.ttf");
}
body {
  padding: 0;
  margin: 0;
  color: #0f1020;
  font-family: "Space Mono", "Noto Color Emoji", "Courier New", Courier, monospace;
  font-variant-ligatures: none;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

kard,
.kard,
pre > code {
  transition: all 0.3s ease;
  display: block;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px #0f1020;
  background: linear-gradient(to top right, rgba(15, 16, 32, 0.9), rgba(15, 16, 32, 0.8));
  border: solid 2px rgba(15, 16, 32, 0.8);
  padding: 8px;
  color: #f9e9ff;
  font-size: 12px;
}
kard[light],
.kard[light],
pre > code[light] {
  border: solid 2px rgba(249, 233, 255, 0.8);
  box-shadow: 0 2px 10px 1px #f9e9ff;
  color: #0f1020;
  background: linear-gradient(to top right, rgba(249, 233, 255, 0.9), rgba(249, 233, 255, 0.8));
}
kard[no-shadow],
.kard[no-shadow],
pre > code[no-shadow] {
  box-shadow: none;
}
kard[pre],
.kard[pre],
pre > code[pre] {
  white-space: pre;
}
kard::-webkit-scrollbar,
.kard::-webkit-scrollbar,
pre > code::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
kard::-webkit-scrollbar-track,
.kard::-webkit-scrollbar-track,
pre > code::-webkit-scrollbar-track {
  border-radius: 4px;
}
kard::-webkit-scrollbar-thumb,
.kard::-webkit-scrollbar-thumb,
pre > code::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0f1020;
}

code:not(pre > code) {
  transition: all 0.3s ease;
  display: block;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px #0f1020;
  background: linear-gradient(to top right, rgba(15, 16, 32, 0.9), rgba(15, 16, 32, 0.8));
  border: solid 2px rgba(15, 16, 32, 0.8);
  padding: 8px;
  color: #f9e9ff;
  font-size: 12px;
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
}
code:not(pre > code)[light] {
  border: solid 2px rgba(249, 233, 255, 0.8);
  box-shadow: 0 2px 10px 1px #f9e9ff;
  color: #0f1020;
  background: linear-gradient(to top right, rgba(249, 233, 255, 0.9), rgba(249, 233, 255, 0.8));
}
code:not(pre > code)[no-shadow] {
  box-shadow: none;
}
code:not(pre > code)[pre] {
  white-space: pre;
}
code:not(pre > code)::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
code:not(pre > code)::-webkit-scrollbar-track {
  border-radius: 4px;
}
code:not(pre > code)::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0f1020;
}

button, a.kard {
  transition: all 0.3s ease;
  display: block;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px #0f1020;
  background: linear-gradient(to top right, rgba(15, 16, 32, 0.9), rgba(15, 16, 32, 0.8));
  border: solid 2px rgba(15, 16, 32, 0.8);
  padding: 8px;
  color: #f9e9ff;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
button[light], a.kard[light] {
  border: solid 2px rgba(249, 233, 255, 0.8);
  box-shadow: 0 2px 10px 1px #f9e9ff;
  color: #0f1020;
  background: linear-gradient(to top right, rgba(249, 233, 255, 0.9), rgba(249, 233, 255, 0.8));
}
button[no-shadow], a.kard[no-shadow] {
  box-shadow: none;
}
button[pre], a.kard[pre] {
  white-space: pre;
}
button::-webkit-scrollbar, a.kard::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
button::-webkit-scrollbar-track, a.kard::-webkit-scrollbar-track {
  border-radius: 4px;
}
button::-webkit-scrollbar-thumb, a.kard::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0f1020;
}
button:hover, a.kard:hover {
  color: #0099ff;
  border-color: #0099ff;
  box-shadow: 0 2px 10px 1px #0099ff;
}

input {
  transition: all 0.3s ease;
  display: block;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px #0f1020;
  background: linear-gradient(to top right, rgba(15, 16, 32, 0.9), rgba(15, 16, 32, 0.8));
  border: solid 2px rgba(15, 16, 32, 0.8);
  padding: 8px;
  color: #f9e9ff;
  font-size: 12px;
}
input[light] {
  border: solid 2px rgba(249, 233, 255, 0.8);
  box-shadow: 0 2px 10px 1px #f9e9ff;
  color: #0f1020;
  background: linear-gradient(to top right, rgba(249, 233, 255, 0.9), rgba(249, 233, 255, 0.8));
}
input[no-shadow] {
  box-shadow: none;
}
input[pre] {
  white-space: pre;
}
input::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
input::-webkit-scrollbar-track {
  border-radius: 4px;
}
input::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #0f1020;
}
input::-moz-placeholder {
  color: #0f1020;
  font-style: italic;
}
input::placeholder {
  color: #0f1020;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Lexend", "Noto Color Emoji", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

blockquote {
  border-left: 2px solid currentColor;
  padding-left: 8px;
  margin: 0;
  font-style: italic;
}

img {
  max-width: 100%;
}
img:not([no-radius]) {
  border-radius: 8px;
}

hr {
  border: 1px solid currentColor;
  border-radius: 2px;
  margin: 8px 0;
}

a {
  color: currentColor;
}

table {
  border: 1px solid currentColor;
  border-radius: 8px;
  overflow: hidden;
  border-spacing: 0;
}
table > thead > tr > th,
table > thead td,
table tbody > tr > th,
table tbody td {
  border: 1px solid currentColor;
  margin: 0;
  padding: 8px;
}

mark {
  background-color: #ffe856;
  color: #0f1020;
}/*# sourceMappingURL=system.css.map */