$kream: #f9e9ff;
$bluey: #0099ff;
$grenn: #71ec5f;
$yelli: #ffe856;
$redow: #e05f5f;
$puple: #9744e3;
$bluck: #0f1020;

$light-bluey: #84c1f8;
$light-grenn: #b5ebaf;
$light-yelli: #fce9ab;
$light-redow: #eda4af;
$light-puple: #c897f1;

$dark-bluey: #0f5588;
$dark-grenn: #407e40;
$dark-yelli: #877c3b;
$dark-redow: #783840;
$dark-puple: #532a82;

$w96-blue: #01517d;
$w96-teal: #2a7671;
$w96-green: #539a64;
