@use "colors";

.hljs-comment {
  color: lighten(colors.$bluck, 60%);
  font-style: italic;
}
.hljs-selector-tag {
  color: colors.$puple;
}
.hljs-string,
.hljs-subst {
  color: colors.$grenn;
}
.hljs-number,
.hljs-title.class_ {
  color: colors.$yelli;
}

.hljs-regexp,
.hljs-variable,
.hljs-literal,
.hljs-template-variable {
  color: colors.$redow;
}
.hljs-keyword {
  color: colors.$puple;
}
.hljs-function > .hljs-title {
  color: colors.$bluey;
}
.hljs-tag {
  color: colors.$kream;
}
.hljs-name {
  color: colors.$redow;
}
.hljs-type {
  color: colors.$redow;
}
.hljs-attribute {
  color: colors.$grenn;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: colors.$puple;
}
.hljs-meta {
  color: colors.$bluey;
}
.hljs-title {
  color: colors.$bluey;
}
.hljs-section {
  color: colors.$yelli;
}
.hljs-addition {
  background-color: colors.$grenn;
  color: colors.$kream;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: colors.$yelli;
  color: colors.$kream;
  display: inline-block;
  width: 100%;
}
.hljs-selector-class {
  color: colors.$yelli;
}
.hljs-selector-id {
  color: colors.$yelli;
}
