@use "colors";
@import url("./main.css");
@import url("./nav.css");

:root {
  scroll-behavior: smooth;
}

body {
  background-color: colors.$kream;
  overflow-x: hidden;
}

main {
  color: colors.$kream;

  width: 100%;
  height: 100vh;

  padding: 40px;
  padding-top: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  background-image: linear-gradient(
    to top right,
    colors.$w96-blue,
    colors.$w96-teal
  );

  > .header-content {
    display: grid;
    align-content: center;

    > h1 {
      font-family: Lexend;
      font-size: 45px;
    }

    > h2,
    > h2 * {
      font-family: "Space Mono";
      font-size: 25px;
    }

    & span {
      white-space: nowrap;
    }
  }

  .hero-image {
    max-width: 50vw;
  }
}

@media (max-width: 780px) {
  main {
    padding-top: 100px;

    flex-direction: column;

    .header-content {
      flex: 1;
    }

    .hero-image {
      display: none;
    }
  }
}
