@use "colors";

nav.kard {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  margin: 20px 40px;
  padding: 0 10px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  z-index: 999;

  > * {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }

  input {
    height: 30px;
    width: 40%;
  }

  > .logo {
    text-decoration: none;
    
    > img {
      width: 24px;
      // position: absolute;
      // bottom: -8px;
      // left: -8px;
    }

    > h1 {
      // translate: 28px;
      color: colors.$kream;
      font-size: 16px;
    }
  }

  > ul {
    > li {
      list-style: none;

      > a {
        &:not(:hover) {
          text-decoration: none;
        }

        font-family: "Space Mono", monospace;
        color: colors.$kream;
      }
    }
  }
}
