@use "colors";

main {
  padding-top: 100px;

  .pkg {
    width: 100%;
    height: 100%;

    display: grid;
    gap: 8px 20px;
    grid-template:
      "h h" auto
      "p s" 1fr
      / 1fr auto;

    > .header {
      grid-area: h;
    }

    > .panel {
      grid-area: p;
      overflow: auto;

      display: flex;
      flex-direction: column;
      gap: 8px;

      &.sandbox-container {
        padding: 0;
        position: relative;

        display: grid;

        justify-content: center;
        align-items: center;

        place-items: center;

        width: 100%;
        max-height: 100%;

        > .sandbox {
          position: absolute;

          height: 100%;
          width: 100%;

          border: none;
        }
      }

      > .pkg-card {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        // img {
        // }
      }
    }

    > .sidebar {
      grid-area: s;
      max-width: 300px;

      & span {
        font-size: 12px;
      }

      > kard * {
        font-size: 10px;
      }

      > ul {
        padding-left: 10px;

        > li {
          list-style: none;
          line-height: 2;

          display: flex;
          align-items: center;
          gap: 8px;

          img {
            height: 16px;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
  }
}

.readme {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
