@use "colors";

// Fonts
@font-face {
  font-family: Lexend;
  font-weight: 600;
  src: url("../../font/Lexend.ttf");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 600;
  src: url("../../font/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Noto Color Emoji";
  src: url("../../font/NotoColorEmoji.ttf");
}

body {
  padding: 0;
  margin: 0;

  color: colors.$bluck;
  font-family: "Space Mono", "Noto Color Emoji", "Courier New", Courier,
    monospace;
  font-variant-ligatures: none;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

@mixin glass-card {
  transition: all 0.3s ease;
  display: block;

  border-radius: 8px;

  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px colors.$bluck;

  background: linear-gradient(
    to top right,
    rgba(colors.$bluck, 0.9),
    rgba(colors.$bluck, 0.8)
  );

  border: solid 2px rgba(colors.$bluck, 0.8);

  padding: 8px;
  color: colors.$kream;

  font-size: 12px;

  &[light] {
    border: solid 2px rgba(colors.$kream, 0.8);
    box-shadow: 0 2px 10px 1px colors.$kream;
    color: colors.$bluck;

    background: linear-gradient(
      to top right,
      rgba(colors.$kream, 0.9),
      rgba(colors.$kream, 0.8)
    );
  }

  &[no-shadow] {
    box-shadow: none;
  }

  &[pre] {
    white-space: pre;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: colors.$bluck;
  }
}

kard,
.kard,
pre > code {
  @include glass-card();
}

code:not(pre > code) {
  @include glass-card();

  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
}

button, a.kard {
  @include glass-card();

  padding-top: 6px;
  padding-bottom: 6px;

  &:hover {
    color: colors.$bluey;
    border-color: colors.$bluey;
    box-shadow: 0 2px 10px 1px colors.$bluey;
  }
}

input {
  @include glass-card();

  &::placeholder {
    color: colors.$bluck;
    font-style: italic;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Lexend", "Noto Color Emoji", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

blockquote {
  border-left: 2px solid currentColor;
  padding-left: 8px;
  margin: 0;
  font-style: italic;
}

img {
  max-width: 100%;

  &:not([no-radius]) {
    border-radius: 8px;
  }
}

hr {
  border: 1px solid currentColor;
  border-radius: 2px;
  margin: 8px 0;
}

a {
  color: currentColor;
}

table {
  border: 1px solid currentColor;
  border-radius: 8px;
  overflow: hidden;

  border-spacing: 0;

  > thead,
  tbody {
    > tr > th,
    td {
      border: 1px solid currentColor;
      margin: 0;
      padding: 8px;
    }
  }
}

mark {
  background-color: colors.$yelli;
  color: colors.$bluck;
}
